.tp-dfwv {
  width: 350px!important;
}

@media only screen and (max-width: 600px) {
  .tp-dfwv {
      width: calc(100vw - 15px) !important;
  }
}

:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  background-color: var(--color-bg);
}

/* Subheading */
h2 {
  color: #2800FF;
}